<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add article</title>
</head>
<body>

    <form method="GET" th:action="@{'/'}">
        <input type="submit" value="Home"/>
    </form>
    <br/>
    <h1>Create New Story</h1>

    <form method="POST" th:action="@{/article/add}" id="addarticle">

        <label for="title">Title: </label><br/>
        <input type="text" name="title" id="title" /><br/>

        <label for="body">Body: </label><br/>
        <textarea  name="body" id="body"  rows="10" cols="50"></textarea><br/>

        <label for="publishdate">Publish Date: </label><br/>
        <p id="publishdate"></p>

        <input type="submit" value="Submit"/>

        <script>
            var d = new Date();
            document.getElementById("publishdate").innerHTML = d;
        </script>

    </form>

</body>
</html>