<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <p><a th:href="@{/login}">log in</a></p>
    <br>
    <form method="POST" th:action="@{/register}" th:object="${user}">
        <label for="userName">UserName: </label>
        <input id="userName" type="text" name="userName">
        </br>

        <label for="password">Password: </label>
        <input id="password" type="text" name="password">
        </br>

        <label for="active">Active: </label>
        <select id="active" name="active">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        </br>

        <label for="roles">Roles: </label>
        <input id="roles" type="text" name="roles">
        <br/> <br/>
        <input type="submit" value="Add"/>
    </form>


</body>
</html>