<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update article</title>
</head>
<body>


    <form method="GET" th:action="@{'/'}">
        <input type="submit" value="Home"/>
    </form>
    <br/>

    <h1>Update Story</h1>

    <form method="POST" th:action="@{'/article/update/' + ${article.id} }" th:object="${article}">

        <label for="title">Title: </label><br/>
        <input type="text" th:field="*{title}" id="title"  th:value="${article.title}"/><br/><br/>

        <label for="body">Body: </label><br/>
        <textarea th:field="*{body}" id="body"  rows="10" cols="50" th:text="${article.body}"></textarea><br/><br/>

        <span type="text"  id="date" th:text="'Published Date: ' + ${article.date}"/><br/>

        <input type="submit" value="Update"/>

    </form>

    <form method="GET" th:action="@{'/article/delete/' + ${article.id} }">
        <input type="submit" value="Delete"/>
    </form>

</body>
</html>